<h1>Pets#edit</h1>
<p>Find me in app/views/pets/edit.html.erb</p>
<div class="container">
  <%= simple_form_for @pet do |f| %>
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :species %>
    <%= f.input :found_on %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
